.end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;

  .end__title {
    font-size: 80px;
    font-family: "PressStart2P", sans-serif;
    color: red;
    margin-bottom: 100px;
  }

  .end__instructions {
    font-family: "TemploFino", sans-serif;
    font-size: 30px;
    color: white;
  }
}