.room {
  margin: auto;
  width: 80vw;
  height: 80vh;
  background-image: url(../assets/img/imagesPiece1/background_room.png);
  background-size: cover;
  border: solid #8ad2e4 10px;

  .roomVault {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 120px;
    background-image: url(../assets/img/imagesPiece1/dark.jpg);
    border: solid #8ad2e4 10px;
    ;
  }

  .roomVault--goal {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 120px;
  }

  .roomVault__wall--bottom {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .roomVault__wall--right {
    width: 10px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;

    &.invisible {
      display: none;
    }
  }

  .room__decor--top {
    position: absolute;
    top: 60px;
    left: 600px;
  }

  .room__decor--right {
    position: absolute;
    top: 500px;
    left: 1060px;
  }

  .room__robot {
    width: 110px;
    height: 140px;
  }

  .room__robot--one {
    position: absolute;
    top: 365px;
    left: 140px;
  }

  .room__robot--two {
    position: absolute;
    top: 80px;
    right: 360px;
  }

  .room__laser--one.visible {
    width: 890px;
    height: 10px;
    position: absolute;
    top: 389px;
    left: 250px;
    background-color: #f75252;
    border-top: solid 2px #ff0000;
    border-bottom: solid 2px #ff0000;
  }

  .room__laser--two.visible {
    width: 10px;
    height: 500px;
    position: absolute;
    top: 210px;
    left: 865px;
    background-color: #f75252;
    border-left: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
  }

  .room__laser {
    &.invisible {
      display: none;
    }
  }

  .room__wall--right {
    width: 10px;
    height: 83vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .room__wall--bottom {
    width: 81vw;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .room__door--control {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 1142px;
    background-color: #855a3e;
  }

  .room__door--goal {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 175px;
    left: 530px;
    background-color: #855a3e;
  }

  .room__door--office {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 118px;
    background-color: #855a3e;
  }

  .room__door--exit {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 1000px;
  }

  .room__player {
    width: 80px;
    height: 130px;
  }
}

.password {
  display: none;

  &.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 330px;
    left: 470px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    background: rgba(46, 46, 46, 0.9);
    border: solid 5px #8ad2e4;
  }

  .password__title {
    font-size: 43px;
    font-family: 'PressStart2P', monospace;
    color: #ffe600;
    text-align: center;
  }

  .password__answer {
    height: 20px;
    font-size: 20px;
    font-family: "TemploFino", monospace;
  }

  .password__button {
    height: 25px;
    font-size: 17px;
    background: white;
    margin-left: 20px;
  }
}

.takeData {
  display: none;

  &.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 320px;
    left: 360px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    background: rgba(46, 46, 46, 0.9);
    border: solid 5px #8ad2e4;
  }

  .takeData__congrat {
    font-size: 55px;
    font-family: 'PressStart2P', monospace;
    color: #ffe600;
  }

  .takeData__text,
  .takeData__instructions {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  em {
    font-style: oblique;
    color: #ffe600;
  }
  
  strong {
    font-weight: bold;
    color: rgb(255, 230, 0);
  }
}