.room {
  margin: auto;
  width: 80vw;
  height: 80vh;
  background-image: url(../assets/img/imagesPiece1/background_room.png);
  background-size: cover;
  border: solid #8ad2e4 10px;

  .room__vault {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 120px;
    background-image: url(../assets/img/imagesPiece1/dark.jpg);
    border: solid #8ad2e4 10px;;
  }
  
  .room__vault--goal {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 120px;
  }

  .room__player {
    width: 100px;
    height: 100px;
  }

  .room__decor--top {
    position: absolute;
    top: 60px;
    left: 600px;
  }
  .room__decor--right {
    position: absolute;
    top: 500px;
    left: 1060px;
  }

  .room__robot {
    width: 110px;
    height: 140px;
  }
  .room__robot--one {
    position: absolute;
    top: 365px;
    left: 140px;
  }
  .room__robot--two {
    position: absolute;
    top: 80px;
    right: 360px;
  }

  .room__laser--one {
    width: 890px;
    height: 10px;
    position: absolute;
    top: 440px;
    left: 240px;
    background-color: #f75252;
    border-top: solid 2px #ff0000;
    border-bottom: solid 2px #ff0000;
  }
  .room__laser--two {
    width: 10px;
    height: 500px;
    position: absolute;
    top: 210px;
    left: 865px;
    background-color: #f75252;
    border-left: solid 2px #ff0000;
    border-right: solid 2px #ff0000;
  }

  .room__wall--right {
    width: 10px;
    height: 83vh;
    position: absolute;
    top: 80px;
    right: 120px;
  }
  .room__wall--bottom {
    width: 81vw;
    height: 10px;
    position: absolute;
    bottom: 60px;
    left: 120px;
  }

  .room__door--one {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 1142px;
    background-color: #855a3e;
  }
  .room__door--two {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 290px;
    left: 280px;
    background-color: #855a3e;
  }
  .room__door--office {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 118px;
    background-color: #855a3e;
  }
  .room__door--exit {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 1000px;
  }
}