.officeRoom {
  margin: auto;
  width: 80vw;
  height: 80vh;
  background-image: url(../assets/img/imagesPiece1/dark.jpg);
  background-size: cover;
  border: solid #8ad2e4 10px;

  .officeRoom__desk {
    width: 17%;
    position: absolute;
    top: 50px;
    left: 120px;
  }

  .officeRoom__remoteControl {
    width: 5%;
    position: absolute;
    top: 115px;
    left: 140px;
  }

  .officeRoom__chair {
    width: 7%;
    position: absolute;
    top: 130px;
    left: 225px;
  }

  .officeRoom__shelf--one {
    width: 18%;
    position: absolute;
    top: 70px;
    right: 325px;
  }

  .officeRoom__shelf--two {
    width: 18%;
    position: absolute;
    top: 70px;
    right: 130px;
  }

  .officeRoom__carpet {
    width: 30%;
    position: absolute;
    top: 300px;
    left: 450px;
    border-radius: 30px;
  }

  .officeRoom__door--first {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 1142px;
    background-color: #855a3e;
  }

  .officeRoom__sofa {
    width: 150px;
    height: 250px;
    position: absolute;
    top: 450px;
    right: 115px;
  }

  .officeRoom__player {
    width: 80px;
    height: 130px;
  }

  .officeRoom__wall--right {
    width: 10px;
    height: 83vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .officeRoom__wall--bottom {
    width: 81vw;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.modalRemote {
  display: none;

  &.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 220px;
    left: 335px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    background: rgba(46, 46, 46, 0.9);
    border: solid 5px #8ad2e4;
  }

  .modalRemote__congrat {
    font-size: 55px;
    font-family: 'PressStart2P', monospace;
    color: #ffe600;
  }

  .modalRemote__instructions {
    text-align: center;
  }
  em {
    font-style: oblique;
    color: #ffe600;
  }
  
  strong {
    font-weight: bold;
    color: rgb(255, 230, 0);
  }
}
