@font-face {
  font-family: "PressStart2P";
  src: url("../assets/font/PressStart2P-Regular.woff") format("woff"), url("../assets/font/PressStart2P-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TemploFino";
  src: url("../assets/font/TEMPLOF_.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}